@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap');



div {
  clear: both;
  height: 60px;
  position: fixed;
  top: -20px;
  left: 50%;
  transform: translate(-50%);
  overflow: hidden;
  width: 100%;
  background: rgb(255, 255, 255);
  padding: 20px;
  color: #fff;
}

h2 {
  font-family: 'Inter', sans-serif;
  font-size: 40px;
  color: black;
  text-shadow: -0.25px -0.25px 0 grey, 0.25px -0.25px 0 grey, -0.25px 0.25px 0 grey, 0.25px 0.25px 0 grey;
  position: relative;
  top: -20px;
  left: 360px;
}