<div class="content">
    <div #sidebar id="sidebar">
        <header>
            <button (click)="closeMenu()" class="closeButton" >&times;</button>
            <span>Routes</span>
        </header>
        <div id="sidebarcontents">
            <h3>Route A</h3>
            <p id="dangerA">danger</p>
            <p id="milesA">miles</p>
            <p id="priceA"></p>
            <p id="timeA"></p>

            <h3>Route B</h3>
            <p id="dangerB">danger</p>
            <p id="milesB">miles</p>
            <p id="priceB"></p>
            <p id="timeB"></p>

            <h3>Route C</h3>
            <p id="dangerC">danger</p>
            <p id="milesC">miles</p>
            <p id="priceC"></p>
            <p id="timeC"></p>

        </div>
    </div>
    <div #temp id="temp" style = "display:none;">
        <button (click)="openMenu()" class="btn">&#9776; Routes</button>
    </div>
</div>