<div class="formBlock">
  <div #searchBar id="searchBar">
    <form id="form" (ngSubmit)="calculateRoute($event)">
      <div class="autocomplete-container" id="autocomplete-container"></div>
      <input type="text" name="start" class="input" id="start" placeholder="Choose Starting Point" />
      <br>
      <div class="autocomplete-container" id="autocomplete-container2"></div>
      <input type="text" name="end " class="input" id="destination" placeholder="Choose Destination" />
      <button type="submit">
        <div class="text">Calculate</div>
      </button>
    </form>
    
  </div>
  <div #temp id="temp" style="display:none;">
    <button (click)="openMenu()" class="btn">&#9776; Search</button>
  </div>
</div>
<script src="form.component.js"></script>