<div class="formBlock">
    <form id="form" (ngSubmit)="calculateRoute($event)" novalidate>
      <div class="autocomplete-container" id="autocomplete-container"></div>
      <input [(ngModel)]="s_address" type="text" name="start" class="input" id="start" placeholder="Choose Starting Point"/>
      <br> 
      <input [(ngModel)]="e_address" type="text" name="end " class="input" id="destination" placeholder="Choose Destination"/> 
      <button type = "submit">Calculate</button> 
    </form>
  </div>